<app-menu></app-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title>{{categoria}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item *ngFor="let produto of moreProdutos" class="ion-text-wrap" (click)="service.openProduto(produto)">
      <ion-thumbnail item-left  >
        <img  [src]="produto.img" alt="">
      </ion-thumbnail>
      <p class="ion-padding">
        <span style="font-weight: bold;" [innerHtml]="produto.title"></span><br>
        <span [innerHtml]="produto.description.full.substr(0,100) + '...'"></span> <br>
        <span [innerHTML]="produto.price"></span>
      </p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProduct($event)">
    <ion-infinite-scroll-content  loadingSpinner="dots"
    loadingText="Carregando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
