<ion-content>
  <ion-slides  pager #slideIntro>
    <ion-slide class="slide-one">
      <h1 class="ion-no-margin">Compre com apenas três cliques</h1>
      <p>economize tempo e dinheiro</p>
    </ion-slide>
    <ion-slide class="slide-two">
      <h2> Mercado de compra online</h2>
      <h3>Compre o que quiser e onde preferir</h3>
    </ion-slide>
    <ion-slide class='slide-three'>
      <ion-button expand="block" size="large" fill="outline" color="light" routerDirection="'root'" routerLink="/page/home">
        <ion-icon  slot="start" name="home"></ion-icon>
        Iniciar
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>