<app-menu></app-menu>

<ion-header >
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Market
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
 
  <ion-grid class="ion-no-padding">
    <ion-row >
      <ion-slides #produtoSlide>
        <ion-slide *ngFor="let  p of produtos">
          <ion-card class="no-padding">
            <img [src]="p.img" alt="">
            <h1>{{ p.title}}</h1>
            <p>{{p.description.full}}</p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  
  <ion-list >
    <ion-item *ngFor="let produto of moreProdutos" class="ion-text-wrap" (click)="service.openProduto(produto)">
      <ion-thumbnail item-left  >
        <img [src]="produto.img" alt="">
      </ion-thumbnail>
      <p class="ion-padding">
        <span style="font-weight: bold;" [innerHtml]="produto.title"></span><br>
        <span [innerHtml]="produto.description.full.substr(0,100) + '...'"></span> <br>
        <span [innerHTML]="produto.price"></span>
      </p>
     
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreProduct($event)">
    <ion-infinite-scroll-content  loadingSpinner="dots"
    loadingText="Carregando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>